.edit-user-form {
    max-width: 900px;
    margin: 0 auto;
}

.row-field {
    margin-bottom: 1.25rem;
}
@media (min-width: 992px) {
    .row-field { margin-bottom: 1.5rem; }
}

.col-form-label {
    padding-top: .45rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0;
}

:deep(.validation-message) {
    display: block;
    margin-top: .35rem;
    font-size: .95rem;
}